*{
    margin: 10px;
}
body{
    background-color: #683af1 ;
    background-image: linear-gradient(rgba(235, 29, 29, 0.8),rgba(235, 29, 29, 0.8)) ,url(background2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 50px;
    align-content: center;
    margin-top: 15px;
    padding: 5px;
    text-shadow: 5px 5px 40px white;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.for-search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar{
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    border-radius: 40px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 8px;
    font-size: 20px;
    width: 87%;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin:13px;
    padding: 10px;
 
}


.flow{
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    box-shadow: 10px 10px black;
    font-family: 'Josefin Sans', sans-serif;
    
}
.flow:hover {
    opacity: 1.0;
    box-shadow: 10px 10px 35px black;
}
.flow img{
    height:120px;
    width: 120px;
    border-radius:  10px; 
    transition: transform 0.25s ease;

}
.flow img:hover{
    -webkit-transform:scale(1.5); 
    transform:scale(1.5);
    box-shadow: 10px 10px 50px black;
}

